WEALTHY_DATABASE_URL=sqlite+pysqlite:///./wealthy-dev.db
WEALTHY_DATABASE_BACKEND=sqlite
WEALTHY_ORACLE_USER=
WEALTHY_ORACLE_PASSWORD=
WEALTHY_ORACLE_DSN=e7h50o2uobc0nl1q_medium
WEALTHY_ORACLE_WALLET_LOCATION=
WEALTHY_ORACLE_WALLET_PASSWORD=
WEALTHY_FIREBASE_PROJECT_ID=
WEALTHY_FIREBASE_CREDENTIALS_FILE=
WEALTHY_FIREBASE_ALLOWED_UIDS=
WEALTHY_FIREBASE_ADMIN_UIDS=
WEALTHY_IMPORT_MAX_BYTES=104857600
WEALTHY_SQL_ECHO=false